.pic12 {
    width: 300px;
    height: min-content;
}

.pic21 {
    width: 300px;
    height: min-content;
    
}

.pic1 {
    width: 200px;
    height: 400px;
}

.pic2 {
    width: 200px;
    height: 400px;
}