.header {
    font-family: monospace;
    background: papayawhip;
    display: flex;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 48px;
    font-weight: 900;
    color: tomato;
    background: white;
    padding: 4px 32px;
}

ul {
    /* This remove the bullet dots on the list items */
    list-style-type: none;
    display: flex;
    gap: 6px;
    margin: 0;
    padding: 0;
}

a {
    font-size: 22px;
    background: white;
    padding: 8px;
    /* This removes the line under the links */
    text-decoration: none;
}